
    <section id="tools" class="py-[100px] px-6">
        <div class="max-w-7xl mx-auto">
            <!-- Header -->
            <div class="text-center mb-16">
                <p class="text-orange-500 font-medium mb-4 flex items-center justify-center gap-2">
                    <span class="w-8 h-0.5 bg-orange-500"></span>
                    My Favorite Tools
                </p>
                <h2 class="text-4xl lg:text-5xl font-bold">
                    Development Tools That 
                    <span class="text-orange-500 italic">Power My Work</span>
                </h2>
            </div>

            <!-- Tools Grid -->
            <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-6 content-center max-w-5xl mx-auto ">

                <!-- VS Code -->
                <div class="">
                    <div class="mb-4 w-24 h-24 mx-auto bg-gray-100 border border-gray-300 rounded-full flex items-center justify-center p-5">
                        <img src="https://imgs.search.brave.com/VUKZUZOuRh-3FSyk-y1VxaGocaZghI38SsicMtXFy1Y/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9oZXht/b3MuY29tL2ZyZWVk/ZXZ0b29scy9zdmdf/aWNvbnMvdnNjb2Rl/L3ZzY29kZS1vcmln/aW5hbC5zdmc" alt="">
                    </div>
                    <p class="text-gray-600 text-center font-semibold">VS Code</p>
                </div>

                <!-- Git -->
                <div class="">
                    <div class="mb-4 w-24 h-24 mx-auto bg-gray-100 border border-gray-300 rounded-full flex items-center justify-center p-5">
                        <img src="https://imgs.search.brave.com/hHpm-bAKw7C2sZzlUCJrr6GUrl-fnWUWZjKMaJXV_o4/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9hc3Nl/dHMuc3RpY2twbmcu/Y29tL2ltYWdlcy81/ODQ3Zjk4MWNlZjEw/MTRjMGI1ZTQ4YmUu/cG5n" alt="">
                    </div>
                    <p class="text-gray-600 text-center font-semibold">Git</p>
                </div>

                <!-- Laravel -->
                <div class="">
                    <div class="mb-4 w-24 h-24 mx-auto bg-gray-100 border border-gray-300 rounded-full flex items-center justify-center p-5">
                        <img src="https://imgs.search.brave.com/aA5xlctAl9_O-8SYu52Oy81vfNf91RqMPZdOGhlyMHs/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly91eHdp/bmcuY29tL3dwLWNv/bnRlbnQvdGhlbWVz/L3V4d2luZy9kb3du/bG9hZC9icmFuZHMt/YW5kLXNvY2lhbC1t/ZWRpYS9sYXJhdmVs/LWljb24ucG5n" alt="">
                    </div>
                    <p class="text-gray-600 text-center font-semibold">Laravel</p>
                </div>

                <!-- WordPress -->
                <div class="">
                    <div class="mb-4 w-24 h-24 mx-auto bg-gray-100 border border-gray-300 rounded-full flex items-center justify-center p-5">
                        <img src="https://imgs.search.brave.com/J5af_EqeJlZJmRut1OrbxqdL2nEqQHo-3i9I8FyrM6U/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMuc2Vla2xvZ28u/Y29tL2xvZ28tcG5n/LzQyLzIvd29yZHBy/ZXNzLWxvZ28tcG5n/X3NlZWtsb2dvLTQy/OTc1Ny5wbmc" alt="">
                    </div>
                    <p class="text-gray-600 text-center font-semibold">WordPress</p>
                </div>


                <!-- Tailwind CSS -->
                <div class="">
                    <div class="mb-4 w-24 h-24 mx-auto bg-gray-100 border border-gray-300 rounded-full flex items-center justify-center p-5">
                        <img src="https://imgs.search.brave.com/oG3o98QjKAbPSLZPTOvPhupljLwbNmIQ42GfRq2TFXw/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy9k/L2Q1L1RhaWx3aW5k/X0NTU19Mb2dvLnN2/Zw" alt="">
                    </div>
                    <p class="text-gray-600 text-center font-semibold">Tailwind CSS</p>
                </div>

                <!-- Figma -->
                <div class="">
                    <div class="mb-4 w-24 h-24 mx-auto bg-gray-100 border border-gray-300 rounded-full flex items-center justify-center p-5">
                        <img src="https://imgs.search.brave.com/RHFhgxb9dQXTF9QyBFD8LmGmLW-vdheNhvW_OzDon70/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jZG4u/aWNvbnNjb3V0LmNv/bS9pY29uL2ZyZWUv/cG5nLTI1Ni9mcmVl/LWZpZ21hLWxvZ28t/aWNvbi1zdmctZG93/bmxvYWQtcG5nLTMw/MzAxMzMucG5nP2Y9/d2VicCZ3PTEyOA" alt="">
                    </div>
                    <p class="text-gray-600 text-center font-semibold">Figma</p>
                </div>

            </div>
        </div>
    </section>